@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KoreanDREAM";
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/KoreanDREAM1R.woff") format("woff");
}
@font-face {
  font-family: "KoreanDREAM";
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/KoreanDREAM2R.woff") format("woff");
}
@font-face {
  font-family: "KoreanDREAM";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/KoreanDREAM3R.woff") format("woff");
}
@font-face {
  font-family: "KoreanDREAM";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/KoreanDREAM4R.woff") format("woff");
}
@font-face {
  font-family: "KoreanDREAM";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/KoreanDREAM5R.woff") format("woff");
}
@font-face {
  font-family: "KoreanDREAM";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/KoreanDREAM6R.woff") format("woff");
}
@font-face {
  font-family: "KoreanDREAM";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/KoreanDREAM7R.woff") format("woff");
}
@font-face {
  font-family: "KoreanDREAM";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/KoreanDREAM8R.woff") format("woff");
}
@font-face {
  font-family: "KoreanDREAM";
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/KoreanDREAM9R.woff") format("woff");
}

body {
  font-family: "KoreanDREAM";
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgb(113, 113, 113);
  color: black;
}
